.room
  height: 100vh
  width: 150px
  background-color: rgba(68, 128, 184, 0.376)
  border-left: 2px dashed rgb(12, 142, 202) 
  border-right: 2px dashed rgb(12, 142, 202) 
  .ava-rooms
    width: 150px